eleet.egg-info
.vscode
.mypy_cache
**/__pycache__/**
**.bz2
**.tar.gz
**.h5
**/.cache
**/output
.DS_Store
**.zip
/datasets
/models/
/.coverage
**.tmp
**.log
/data_statistics
coverage.xml
**.dump
slurm-*.out
**.pdf
**cmd.sh
preprocessed_data_ready
bart.base/
our_model/
t2t_model/
t2t_model_trex/
our_model_trex/
.VSCodeCounter/
**/raw-documents/**
**/documents/*.json
*.pkl
predictions/**/metrics_*.csv
predictions/**/runtimes_*.csv
predictions/**/stats_*.csv
t2t_tmp*/**
gpt_tmp*/**
predictions-*/**/metrics_*.csv
predictions-*/**/runtimes_*.csv
predictions-*/**/stats_*.csv
training_output
training_output_extractive
